body {
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: olive;
}

.btn-primary {
    width: 100%;
}

.alert {
    display: none;
    text-align: center;
}

.is-invalid {
    border-color: #dc3545; /* Red border for invalid input */
}

.btn-primary {
    background-color: #28a745; /* Verde */
}

.btn-primary:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
}

.btn-primary:active {
    background-color: #1e7e34; /* Verde más oscuro al hacer clic */
}

#resultado {
    background-color: rgb(201, 230, 201);
    color: black;
  }